// .first-color { 
// 	background: #b2085d; 
// }
	
// .second-color { 
// 	background: #f9c11c; 
// }

// .third-color { 
// 	background: #0d8549; 
// }

// .fourth-color { 
// 	background: #3a3d44; 
// }



header {
  background: #3a3d44; 
  border-bottom: 1px solid #f9c11c;
  color: #f9c11c;
  padding: 0;
  margin: 0;
  text-align: center;
}